.home-body {
  margin: 0;
  padding: 0;
  background-image: url("resources/bn.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@font-face {
  font-family: "MYRIADAT";
  src: url("fonts/MYRIADAT.TTF");
}

@font-face {
  font-family: "TitilliumWeb";
  src: url("fonts/TitilliumWeb.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("fonts/TitilliumWeb.ttf");
}

/* carousel */
.carousel-container {
  position: relative;
  max-width: 60%;
  margin: 6px auto;
  overflow: hidden;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .carousel-container {
    max-width: 150%;
  }
}

.carousel-slide {
  display: flex;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.control-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-btn,
.next-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.prev-btn i,
.next-btn i {
  display: inline-block;
}

/* search bar */
.search-container {
  text-align: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 9999px;
  margin-right: 10px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
}

.adsearch-input {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 9999px;
  margin-right: 10px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  color: black;
}

.search-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 9999px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search-input {
    width: 150px;
  }
}

.limg1,
.limg2,
.limg3 {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5px auto;
}

.filter {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  cursor: pointer;
}

.advanced-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.advanced-search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group label {
  margin-right: 5px;
  font-family: "MYRIADAT";
  color: #fff;
  font-weight: 400;
}

.input-group select,
.input-group input {
  padding: 8px 80px;
  border: none;
  border-radius: 10px;
  background: transparent;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  color: #333;
}


@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* purchase text */
.purchase-text {
  text-align: center;
  font-family: "TitilliumWeb";
  font-size: 55px;
}

@media screen and (max-width: 600px) {
  .purchase-text {
    font-size: 20px;
  }
}

.typewriter,
.cursor {
  color: #ccc;
}

/* 4 images */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px;
}

.image-gallery-item {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}

.image-gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .image-gallery-item {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .image-gallery-item {
    flex-basis: calc(100% - 20px);
  }
}

/* product card */

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px;
}

.product-card {
  flex: 0 0 calc(20% - 20px);
  max-width: 300px;
  border: 1px solid #ccc;
  font-family: "MYRIADAT";
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1200px) {
  .product-card {
    flex: 0 0 calc(25% - 20px);
  }
}

@media only screen and (max-width: 992px) {
  .product-card {
    flex: 0 0 calc(33.333% - 20px);
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media only screen and (max-width: 576px) {
  .product-card {
    flex: 0 0 calc(100% - 20px);
    max-width: none;
  }
}


.product-card img {
  width: 60%;
  height: 100%;
  display: block;
  margin: 5px auto;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
  transform: scale(0.9);
}


.product-info {
  padding: 20px;
}

.product-info h2 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.product-info p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1E2136;
}

.desc {
  font-family: "Quicksand";
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.buttons button i {
  font-size: 1.2em;
}

.buttons button:hover {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.stock {
  position: absolute;
  background-color: #8BA47C;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
}

.stockout {
  position: absolute;
  background-color: #cb7876;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
}

.buy-btn {
  background-color: #32769b;
  color: #fff;
}

.add-to-cart-btn {
  padding: 9px 25px;
  background-color: #cb7876;
  color: #fff;
}

.wishlist-btn {
  background-color: #cb7876;
  color: #fff;
}

.custom-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.custom-container h5 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.custom-container p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* single product view  */

.sproduct-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  max-width: 600px;
  padding: 30px;
  margin: 2px auto;
  margin-bottom: 8px;
}

.sproduct-image img {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 0px auto;
}

.sproduct-details {
  font-family: "MYRIADAT";
  font-weight: bold;
  text-align: center;
}

.sproduct-name {
  font-size: 30px;
  margin-top: 15px;
}

.sproduct-price {
  font-size: 20px;
  margin-top: 8px;
}

.sproduct-storage,
.sproduct-color,
.sproduct-quantity {
  margin-top: 8px;
  font-size: 18px;
}

.sproduct-quantity input {
  width: 30px;
}

.sbuttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sbuttons button {
  padding: 15px 25px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 16px;
  margin-bottom: 2px;
}

@media screen and (max-width: 768px) {
  .sbuttons {
    flex-direction: column;
    align-items: center;
  }

  .sbuttons button {
    margin: 8px 0;
    width: 80%;
  }
}


.sbuttons button i {
  font-size: 1.2em;
}

.sbuttons button:hover {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.sstock {
  font-family: "MYRIADAT";
  font-weight: bold;
  background-color: #8BA47C;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  margin: 10px;
}

.sstockout {
  font-family: "MYRIADAT";
  font-weight: bold;
  background-color: #cb7876;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  margin: 10px;
}

.sbuy-btn {
  background-color: #32769b;
  color: #fff;
}

.sadd-to-cart-btn {
  background-color: #8c7da8;
  color: #fff;
}

.swishlist-btn {
  background-color: #cb7876;
  color: #fff;
}

.aqty {
  text-align: center;
  width: 55px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background: transparent;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  color: #333;
}

/* profile  */

.pcontainer {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}


.ptitle {
  font-family: "MYRIADAT";
  color: #fff;
  margin-bottom: 10px;
}

.form-group input {
  display: block;
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .form-group input {
    width: 300px;
  }
}

.image-upload {
  margin-top: auto;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

input[type="file"] {
  display: none;
}


.image-upload label {
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}

.profileImg {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.profileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}



.updateprofile {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-family: "Quicksand";
  font-size: 16px;
  background: #FE4E4E;
  margin-top: 10px;
  cursor: pointer;
}

.updateimg {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-family: "Quicksand";
  font-size: 16px;
  background: #FE4E4E;
  margin-top: 10px;
  cursor: pointer;
}

.updateprofile:hover,
.updateimg:hover {
  background: #CB7876;
}


@media screen and (max-width: 768px) {
  .pcontainer {
    padding: 10px;
  }
}

/* wishlist  */

.wishtext {
  font-family: "MYRIADAT";
  color: white;
  margin: 10px 90px;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .wishtext{
    font-size: 1.2rem;
    text-align: center;
  }
}

.ssproduct-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.ssproduct-card img {
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-left: 30px;
  transition: transform 0.3s ease-in-out;
}

.ssproduct-card:hover img {
  transform: scale(0.9);
}

.ssproduct-info {
  flex: 1;
}

.ssproduct-info h2 {
  font-family: "MYRIADAT";
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ssproduct-info .sdesc {
  font-size: 16px;
  margin-bottom: 10px;
}

.ssprice {
  font-size: 1.25rem;
  font-family: "MYRIADAT";
  font-weight: bold;
  color: #0C121D;
}

.ssstock {
  position: absolute;
  background-color: #8BA47C;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  font-family: "MYRIADAT";
  font-weight: bold;
  margin-left: 140px;
}

.ssstockout {
  position: absolute;
  background-color: #cb7876;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  font-family: "MYRIADAT";
  font-weight: bold;
}

.stitle {
  font-family: "MYRIADAT";
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px;
  padding-bottom: 15px;
}

.sdesc,
.sprice {
  font-family: "MYRIADAT";
  font-weight: bold;
  font-size: 1.2rem;
  margin: 20px;
  padding-bottom: 15px;
  color: #1E2136;
}

/* button  */
.wbuttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 20px;
}

.wbuttons button {
  padding: 9px 14px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.wbuttons button i {
  font-size: 1.2em;
}

.wbuttons button:hover {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.stock {
  position: absolute;
  background-color: #8BA47C;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
}

.stockout {
  position: absolute;
  background-color: #cb7876;
  border: 1px solid #333;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
}


.wishlist-btn {
  background-color: #cb7876;
  color: #fff;
}

/* cart  */

.ssproduct-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.plusbtn {
  padding: 9px 14px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.caqty {
  padding: 9px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnbuttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.removebtn {
  padding: 10px 15px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: #FE4E4E;
  font-family: "MYRIADAT";
  font-weight: bold;
  color: #ddd;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
}

.total {
  text-align: center;
  padding: 10px 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #2b1f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rs {
  color: #00335d;
}
@media screen and (max-width: 768px) {
  .total {
    position: static;
    transform: none;
    top: auto;
    left: auto;
    margin-top: 20px;
  }

  .ssproduct-card {
    flex-direction: column;
    align-items: center;
  }

  .removebtn,
  .caqty {
    margin: 5px;
  }
}


.caqty {
  display: flex;
  margin: 10px; 
  text-align: center;
  width: 55px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background: transparent;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  color: #333;
}

.Ccontainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.net {
  color: #fff;
  font-size: 1.5rem;
  text-align: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
}

.info {
  color: #120034;
}

.muted {
  color: #120034;
}

.warning {
  color: #120034;
}

.checkout {
  background-color: #32769b; 
  color: white;
  padding: 15px 18px;
  cursor: pointer;
  border: none;
  border-radius: 5000px;
  margin-top: 5px;
}

.checkout:hover {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.plusbtn:hover {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cartempty {
  text-align: center;
  margin-top: 50px;
  font-family: "MYRIADAT";
}

.cartempty h2 {
  color: #333;
}

.cartempty .shopping {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  text-decoration: none;
  border-radius: 500px;
  margin-top: 20px;
  transition: background-color 0.3s ease; 
}

.cartempty .shopping:hover {
  background-color: #32769b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* history  */

.transparent-div {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15  px;
}

table {
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  font-family: "MYRIADAT";
}

th, td {
  border: none;
  text-align: left;
  font-weight: 900;
  padding: 8px 50px;
  background-color: rgba(39, 38, 38, 0.5);
}

tr{
  border: 1px solid #dddddd;
}


@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  th, td {
    border: 0;
    display: grid;
    text-align: center;
  }
}

.tabletitle {
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}
.tabledate {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: darkslategrey;
}

.hnet{
  color: #000000;
  font-size: 1.5rem;
  text-align: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
}